html,
body {
  height: 100%;
}

.container {
  height: 100%;
}

.container.p-5 {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  margin-right: auto;
  height: 100%;
}

.tab-content,
.tab-pane {
  height: 90%;
}

.row {
  height: 100%;
}

.tab-pane {
  padding: 20px;
}

.card {
  margin-top: 30px;
  /* height: 70%; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(83, 55, 48, 0.7);
}

.fa_icons {
  text-align: center;
}

/* .fab {
  color: white;
  text-shadow: 2px 2px 4px rgb(250, 71, 31);
  padding: 20px;
}

.fab:hover {
  color: white;
  text-shadow: 2px 2px 4px #000000;
} */

.bi {
  color: rgb(218, 50, 28);
  /* text-shadow: 2px 2px 4px rgb(250, 71, 31); */
  /* padding: 20px; */
}

.bi:hover {
  color: rgb(83, 55, 48);
}

#github_icon,
#linkedin_icon {
  margin: 20px;
}

#linkedin_icon:active,
#github_icon:active {
  transform: translateY(4px);
}
