html,
body {
  height: 100%;
}

.container {
  height: 100%;
}

.container.p-5 {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  margin-right: auto;
  height: 100%;
}

.tab-content,
.tab-pane {
  height: 90%;
}

.row {
  height: 100%;
}

.tab-pane {
  padding: 20px;
}

.card {
  margin-top: 30px;
  /* height: 70%; */
}

.card-body p {
  text-align: justify;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(83, 55, 48, 0.7);
}

.fa_icons {
  text-align: center;
}

/* .fab {
  color: white;
  text-shadow: 2px 2px 4px rgb(250, 71, 31);
  padding: 20px;
}



.fab:hover {
  color: white;
  text-shadow: 2px 2px 4px #000000;
} */

.bi {
  color: rgb(218, 50, 28);
  /* text-shadow: 2px 2px 4px rgb(250, 71, 31); */
  /* padding: 20px; */
}

.bi:hover {
  color: rgb(83, 55, 48);
}

#github_icon,
#linkedin_icon {
  margin: 20px;
}

#linkedin_icon:active,
#github_icon:active {
  transform: translateY(4px);
}

.resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#carouselExampleControls {
  background-color: #f4f4f4f4;
}

.resume:hover {
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transform: scale(1.5);
}

#resume_link {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
}

/* Section 3 */

#section-three p {
  text-align: justify;
}

#my_image {
  height: 100%;
  width: 80%;
  border-radius: 5%;
  box-shadow: 0 8px 16px 0 rgba(83, 55, 48, 0.7);
}

.favorite_quote {
  border-radius: 5px;
  border: 1px solid rgb(218, 50, 28);
  padding: 20px;
  color: whitesmoke;
  box-shadow: 0 8px 16px 0 rgba(83, 55, 48, 0.7);
}

p#quote_line_one,
p#quote_line_two {
  text-align: center;
}
